[data-module~=panel] {
	position: absolute;
	top: var(--top);
	left:  var(--left);
	user-select: none;
	background-color: #333;
	color: white;
	box-shadow: 0em 1em 0.75em rgba(0,0,0,0.333);
	z-index: var(--z);
}

[data-module~=panel][data-panel-type~=root] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0;
}

[data-module~=panel] > .titlebar {
	vertical-align: middle;
	background-color: #000;
	white-space: nowrap;
	align-items: center;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0.25em;
	color: #CCC;
}

[data-module~=panel].moving {
	opacity: 0.5;
}

[data-module~=panel] > .titlebar .right {
	padding-left: 0.5em;
}

[data-module~=panel] > .titlebar:empty {
	display: none;
}

[data-module~=panel] .icon.orange {
	filter: brightness(25%) sepia(100%) hue-rotate(0deg) saturate(1500%) brightness(200%);
}

[data-module~=panel] .icon.red {
	filter: brightness(25%) sepia(100%) hue-rotate(313deg) saturate(500%) brightness(110%);
}

[data-module~=panel]:not([data-panel-type=root]) > .widget {
	display: flex;
	flex-direction: row;
	border: 1px solid #000;

}

[data-panel-type=root] [data-module] [data-module] {
	padding: 0.5em;
}

.context-menu {
	z-index: 99999999999999999999;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.context-menu > .v-container {
	box-shadow: 6px 6px 9px rgba(0,0,0,0.333);
	pointer-events: initial;
	display: flex;
	flex-direction: column;
	position: absolute;
	left:   var(--contextMenuXL);
	right:  var(--contextMenuXR);
	top:    var(--contextMenuYT);
	bottom: var(--contextMenuYB);
}

.context-menu > .v-container > div {
	background-color: #333;
	padding: 1rem;
	position: relative;
}

.context-menu > .v-container > div:not(:last-child) {
	border-bottom: #666 1px solid;
}

.context-menu > .v-container > div:hover {
	background-color: #444;
}
