body {
	font-family: verdana;
	display: flex;
	flex-direction: column;
	background: black;
	padding: 1em;
	padding-top: 0em;
	color: white;
}

body > * {
	box-sizing: border-box;
	margin-top: 1em;
	margin-bottom: 1em;
}

