[data-module~=canvas] {
	display: flex;
	flex-direction: column;
}

[data-module~=canvas] p {
	font-size: 0.75em;
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

[data-module~=canvas] label{
	display: flex;
	flex-direction: column;
	margin-bottom: 0.25em;
}

[data-module~=canvas] label > div,
[data-module~=canvas] label > div > div {
	display: flex;
	flex-direction: row;
}

[data-module~=canvas] label .icon:not(.right) {
	margin-right: 0.25em;
}

[data-module~=canvas] label .icon.right {
	margin-right: 0;
}

[data-module~=canvas] label .icon {
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 0.5em;
}

[data-module~=canvas] label .icon:hover {
	background-color: #222;
}

[data-module~=canvas] label .icon:active {
	background: black;
}

[data-module~=canvas] .canvas-window {
	display: flex;
	flex-direction: column;
	border: 1px solid #555;
	padding: 0.5em;
	flex: 1;
}

[data-module~=canvas] canvas {
	align-self: center;
	background: #FFF;
	image-rendering: pixelated;
	--scale: 1;
	width: calc(calc(var(--width) * var(--scale)) * 1px) !important;
	height: calc(calc(var(--height) * var(--scale)) * 1px) !important;
	transition: width 0.125s ease-out, height 0.125s ease-out;
	transform-origin: left top;
	margin-bottom: 0.5em;
}

[data-module~=canvas] .icon {
	cursor: pointer;
}
