[data-module~=canvas] {
	display: flex;
	flex-direction: column;
}

[data-module~=canvas] p {
	font-size: 0.75em;
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

[data-module~=canvas] label {
	display: flex;
	flex-direction: column;
}

[data-module~=canvas] .canvas-window {
	display: flex;
	flex-direction: column;
	border: 1px solid #555;
	padding: 0.5em;
	flex: 1;
}

[data-module~=canvas] canvas {
	align-self: center;
	background: #152008;
	image-rendering: pixelated;
	--scale: 1;
	width: calc(calc(var(--width) * var(--scale)) * 1px) !important;
	height: calc(calc(var(--height) * var(--scale)) * 1px) !important;
	transition: width 0.125s ease-out, height 0.125s ease-out;
	transform-origin: left top;
	margin-bottom: 0.5em;
}

[data-module~=canvas] .icon {
	cursor: pointer;
}

[data-module=file-drop] {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 0.6rem;
}

[data-module~=panel] {
	position: absolute;
	top: var(--top);
	left:  var(--left);
	user-select: none;
	background-color: #333;
	box-shadow: 0em 1em 0.75em rgba(0,0,0,0.333);
}

[data-module~=panel][data-panel-type~=root] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0;
}

[data-module~=panel] > .titlebar {
	vertical-align: middle;
	background-color: #000;
	align-items: center;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0.25em;
	color: #CCC;
}

[data-module~=panel] > .titlebar .right {
	padding-left: 0.5em;
}

[data-module~=panel] > .titlebar:empty {
	display: none;
}

[data-module~=panel] .icon.orange {
	filter: brightness(25%) sepia(100%) hue-rotate(0deg) saturate(1500%) brightness(200%);
}

[data-module~=panel] .icon.red {
	filter: brightness(25%) sepia(100%) hue-rotate(313deg) saturate(500%) brightness(110%);
}

[data-module~=panel]:not([data-panel-type=root]) > .widget {
	border: 1px solid #000;
	padding: 0.5em;
}

html {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0em;
	margin: 0em;
}

body {
	width: 100%;
	margin: 0em;
	font-family: verdana;
	display: flex;
	flex-direction: column;
	background: #777;
	padding: 0em;
	color: white;
}

a {
	color: white;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.right {
	margin-left: auto;
}

.icon.inline-icon {
	display: inline-block;
	margin-right: 0.25em;
	background-image: url(/default-icon.svg);
	background-size: 100%;
	width: 1em;
	height: 1em;
	transition: filter 0.25s ease-out;
}

.icon.gear-icon {
	background-image: url(/gear-icon.svg);
}

.icon.save-icon {
	background-image: url(/disk-icon.svg);
}

.icon.folder-icon {
	background-image: url(/folder-icon.svg);
}

.icon.zoom-out-icon {
	background-image: url(/zoom-out-icon.svg);
}

.icon.zoom-in-icon {
	background-image: url(/zoom-in-icon.svg);
}

.icon.run-icon {
	background-image: url(/run-icon.svg);
}

.icon.x-icon {
	background-image: url(/x-icon.svg);
}


/*# sourceMappingURL=app.css.map*/